@model ACEPSMVC.Models.Servicos
@{
    if (ViewData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger text-center">
            <h6>@Html.Raw(ViewData["ErrorMessage"].ToString())</h6>
        </div>
    }
}
<br />
<h2 class="text-info">@(Model.Id!=0 ? "Editar" : "Criar") Serviço</h2>
<br />
<h4>
    @*Caso tenha o campo WEBSITE preenchido, ao clicar na imagem, ele será direcionado para uma nova pagina.
        <br />
        Caso o conteúdo esteja preenchido, ele irá para uma pagina mostrar o conteudo.
        <br />
        Caso os dois estejam preenchidos, irá prevalecer a URL, ou seja, o endereço de redirecionamento*@
</h4>
<br />

<div class="border container" style="padding: 30px">
    <form method="post" asp-action="Upsert" enctype="multipart/form-data">
        @if (Model.Id != 0)
        {
            <input type="hidden" asp-for="Id" />
        }
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Nome"></label>
            </div>
            <div class="col-6">
                <input asp-for="Nome" class="form-control text-danger" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Logo"></label>
            </div>
            <div class="col-6">
                <input type="file" rows="20" cols="20" asp-for="Logo" class="text-danger form-control" />
                <span asp-validation-for="Logo" class="text-danger"></span>
                <input type="hidden" asp-for="Logo" />
                <img src="~/servicos/@Model.Logo" style="min-width: 20%; max-width: 300px" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Website"></label>
            </div>
            <div class="col-6">
                <input asp-for="Website" class="form-control text-danger" />
                <span asp-validation-for="Website" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Email"></label>
            </div>
            <div class="col-6">
                <input asp-for="Email" class="form-control text-danger" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Endereco"></label>
            </div>
            <div class="col-6">
                <input asp-for="Endereco" class="form-control text-danger" />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Observacao"></label>
            </div>
            <div class="col-6">
                <textarea id="summernote" rows="20" cols="20" asp-for="Observacao" class="text-danger"></textarea>
                <span asp-validation-for="Observacao" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3 offset-3">
                <button type="submit" class="btn btn-primary form-control">
                    @(Model.Id!=0?"Atualizar":"Criar")
                </button>
            </div>
            <div class="col-3">
                <a asp-action="Index" class="btn btn-success form-control">Voltar para Lista</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial.cshtml" />
    <!-- include summernote css/js -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <!-- include summernote css/js -->
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script>
        $('.summernote, #summernote').summernote({
            height: 300,                 // set editor height
            minHeight: null,             // set minimum height of editor
            maxHeight: null,             // set maximum height of editor
            focus: true,
            toolbar: [
                // [groupName, [list of button]]
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['font', ['strikethrough']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph', 'style']],
                ['height', ['height']],
                ['table', ['table']],
                ['insert', ['link', 'picture', 'video']],
                /*['view', ['fullscreen', 'codeview', 'help']]*/
            ],
        });
    </script>
}