<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Associação Comercial e Empresarial de Porto Seguro - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
    <link href="~/lib/fontawesome-free-5.15.2-web/css/fontawesome.css" rel="stylesheet" />
    <link href="~/lib/fontawesome-free-5.15.2-web/css/solid.css" rel="stylesheet" />
    <link href="~/lib/fontawesome-free-5.15.2-web/css/all.css" rel="stylesheet" />
    <!-- ShareThis BEGIN -->
</head>
<body>
    <header>
        <div class="sharethis-inline-share-buttons"></div><!-- ShareThis END -->
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            @*<div class="row">*@
            <div class="container">
                <div class="col-md-4 col-sm-12 col-xs-12 pt-1">
                    <a asp-action="Index" asp-controller="Home">
                        <img src="~/img/49608185_2192040527728410_7416589895130415104_n.jpg" class="img-fluid" />
                    </a>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 text-center">
                    <ul class="header-social">
                        <li><a href="https://www.facebook.com/aceps"><i class="fab fa-phone"></i> (73) 99170-2845</a></li>
                        <li><a href="https://www.facebook.com/aceps"><i class="fab fa-facebook"></i> facebook.com/aceportoseguro</a></li>
                        <li><a href="https://www.instagram.com/aceps"><i class="fab fa-instagram"></i> instagram.com/aceportoseguro</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="loginmodal-container">
                        <h4>CONSULTA SERASA/SPC</h4><br>
                        <form>
                            <input type="text" name="user" placeholder="Código">
                            <input type="password" name="pass" placeholder="Senha">
                            <input type="submit" name="login" class="btn btn-success login loginmodal-submit" value="IR">
                        </form>

                            <partial name="_LoginPartial" />
                            <div class="login-help">
                                Acesso Restrito
                            </div>
                    </div>
                </div>
            </div>
            @*</div>*@
        </nav>
    </header>
    <div class="container-fluid bgverdeescuro">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-left">
                    <nav class="navbar navbar-expand-lg navbar-mainbg">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="list-group list-group-horizontal">
                                <li class="list-group-item"><a asp-action="Index" asp-controller="Home">Página Inicial</a></li>
                                <li class="list-group-item"><a>Fale Conosco</a></li>
                                <li class="list-group-item"><a>Enquete</a></li>
                                <li class="list-group-item"><a>Webmail</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="col-md-6 text-right">
                    Rua Saldanha Marinho, 63 - Salas 1 e 2, Centro - Porto Seguro - BA
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bgverdemenu">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#">&nbsp;</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto navegacaoinferior">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" asp-action="Index" asp-controller="Home" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Home
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Histórico</a>
                                <a class="dropdown-item" href="#">Palavra da Diretoria</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Sobre a ACE</a>
                                <a class="dropdown-item" href="#">Serviços</a>
                                <a class="dropdown-item" href="#">Contatos</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Serviços</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Galeria de Fotos
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Eventos</a>
                                <a class="dropdown-item" href="#">Participações</a>
                                <a class="dropdown-item" href="#">Reuniões</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Busca</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Associe-se</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">2ª Via Boleto</a>
                        </li>
                        <li class="nav-item dropdown" >
                            <a   class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Painel Administrativo
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
                                <a  class="dropdown-item" asp-controller="Institucionals" asp-action="Editar">Institucional</a>
                                <a  class="dropdown-item" asp-controller="Noticias" asp-action="Index">Noticia</a>
                                <a  class="dropdown-item" asp-controller="Destaques" asp-action="Index">Destaques</a>
                                <a  class="dropdown-item" asp-controller="DestaquesPrincipais" asp-action="Index">DestaquesPrincipais</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="container">
        <main role="main" class="col-9 pb-3 py-3">
            @RenderBody()
        </main>
        <div class="col-3">
            @RenderSection("barradireita", required: false)
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - ACEPSMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
