@{
    ViewData["Title"] = "Home Page";
    List<Noticias> listaNoticias = ViewData["Noticias"] as List<Noticias>;
    List<DestaquePrincipal> destaquePrincipal = ViewData["DestaquePrincipal"] as List<DestaquePrincipal>;
    List<Destaques> listaDestaques = ViewData["Destaques"] as List<Destaques>;
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <div class="row blog">
                    <div class="col-md-12">
                        <div id="blogCarousel" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#blogCarousel" data-slide-to="1"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class='carousel-item active'>
                                    <div class=row>
                                        @for (int i = 0; i < listaDestaques.Count(); i++)
                                        {
                                            var item = listaDestaques[i];
                                        <div class="col-md-3">
                                            <a href="#">
                                                <img src="~/destaques/@item.Imagem" alt="Image" style="max-width:100%;">
                                            </a>
                                        </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    @foreach (var dprincipal in destaquePrincipal)
                    {
                    <img src="~/destaqueprincipal/@dprincipal.Imagem" class="img-fluid" />
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4>Últimas Notícias</h4>
                    <div class="row">
                        <div class="col-12">
                            @foreach (var noticia in listaNoticias)
                        {
                            <div class="row">
                                <div class="col-3">
                                    <img class="media-object" src="~/img/imgnoticia.png" style="width: 20%" />
                                </div>
                                <div class="col-8">
                                    <h6 class="media-heading">@noticia.Titulo</h6>
                                    <p>@noticia.DataCriacao.ToString("dd/MM/yyyy")</p>
                                    <p>
                                        @if (noticia.Texto != null && noticia.Texto.Length >= 100)
                                    {
                                        @noticia.Texto.Substring(0, 100);
                                    }
                                    else
                                    {
                                        @Html.Raw(noticia.Texto +  "...");
                                    }
                                    </p>
                                </div>
                            </div>
                        }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>
