@*@model ACEPSMVC.Models.Noticias*@

@{
    ViewData["Title"] = "Home Page";
    IEnumerable<Noticias> listaNoticias = ViewData["Noticias"] as IEnumerable<Noticias>;
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Últimas Notícias</h4>
            <div class="table-responsive">
                <table id="mytable" class="table table-bordred table-striped">
                    @foreach (var noticia in listaNoticias)
                    {
                        <tr>
                            <td>@noticia.DataCriacao</td>
                            <td><a asp-action="Detalhes" asp-controller="Noticias" asp-route-id="@noticia.Id"> @noticia.Titulo </a></td>
                            <td>@noticia.Subtitulo</td>
                            <td><i class="fab fa-arrow-right"></i></td>
                        </tr>
                    }
                </table>
                <div class="clearfix"></div>
                @*<ul class="pagination pull-right">
                        <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                    </ul>*@
            </div>
        </div>
    </div>
</div>
