@model ACEPSMVC.Models.Institucional

<h2 class="text-info">Editar Institucional</h2>

<div class="border container" style="padding: 20px">
    <form method="post" asp-action="Editar">

    </form>
</div>