@model ACEPSMVC.Models.Institucional

<div class="container row p-0 m-0">
    <div class="col-6">
        <h2 class="text-info text-center">Institucional</h2>
    </div>
    <div class="col-12 p-3">
        @Html.Raw(Model.Texto);
    </div>
</div>